<head>
	<%= stylesheet_link_tag "megabox" %>
</head>
<h3 class="title border-bottom" style="text-align: center;">
		박스오피스
</h3>
<div class="container mt-3">
		<div class="row" style="color: #fff;">
			<% @movies.each do |movie| %>
					<div class="col-3">
						<a href="/megabox/show/<%= movie.id %>">
						<div class="card text-bg-dark">
						  <img src="<%= url_for(movie.movie_img) %>" class="card-img" alt="...">
						  <div class="card-img-overlay" style="height:220px;">
							  <div class="card-main">
								<h5 class="card-title"><%= movie.movie_title %></h5>
								<p class="card-text card-main"><div class="card-desc"><%= movie.movie_desc %></div></p>
								<p class="card-text"><small>Last updated 3 mins ago</small></p>							  	
							  </div>
						  </div>
						</div>
						</a>
						<button class="btn btn-primary mt-1">
							<a href="/megabox/ticket_order" class = "btn btn-primary">예매</a>
						</button>	
					</div>
			<% end %>	
	</div>
</div>

<div class = container>
	<div class="search-link">
		<div class="cell">
			<div class="search">
				<input type="text" placeholder="영화명을 입력해 주세요" title="영화 검색" class="input-text" id="movieName">
				<button type="button" class="btn" id="btnSearch"><i class="iconset ico-search-w"></i> 검색</button>
			</div>
		</div>

		<div class="cell"><a href="#" title="상영시간표 보기"><i class="iconset ico-schedule-main"></i> 상영시간표</a></div>
		<div class="cell"><a href="#" title="박스오피스 보기"><i class="iconset ico-boxoffice-main"></i> 박스오피스</a></div>
		<div class="cell"><a href="#" title="빠른예매 보기"><i class="iconset ico-quick-reserve-main"></i> 빠른예매</a></div>
	</div>
</div>
