<div class="container">
	<div class="row">
		<div class="col-12">
			<h2>
			빠른 예매
			</h2>
		</div>
		<div class="col-9 mt-4">
			<h5>관람권 및 할인적용</h5>
			<ul>
				<li>메가박스 포인트</li><br>
				<li>관람권/모바일 상품권</li><br>
				<li>제휴 포인트</li>
			</ul>
		</div>
		<div class="col-3 mt-4">
			<div class="card">
				<% @ticketings.each do |ticketing| %>
				  <div class="card-header">
					  <h5>
					  <%= ticketing.screen.movie.movie_title %>
					  </h5>
					  <strong>
					  	<%= ticketing.screen.theater_room.theater_id %>/<%= ticketing.screen.theater_room.tr_name %>
					  </strong>
					<strong>
						<%= ticketing.screen.sc_start %> ~ <%= ticketing.screen.sc_end %>
					</strong>
				</div>
					
				  <div class="card-body">
					<h5 class="card-title"><%= ticketing.screen.movie.movie_title %></h5>
					<p class="card-text">최종결제금액: <%= number_to_currency(ticketing.tk_price) %></p>
				 <% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<button id="payment_btn">결제하기</button>

<script>
	$(function(){
		var IMP = window.IMP; // 생략 가능
    	IMP.init('imp27562638'); // 예: imp00000000		

		function requestPay() {
      // IMP.request_pay(param, callback) 결제창 호출
		  IMP.request_pay({ // param
			  pg: "kakaopay",
			  pay_method: "card",
			  merchant_uid: 'merchant_' + new Date().getTime(),
			  name: "노르웨이 회전 의자",
				amount : 12000,
				buyer_email : $("#eamil").val(),
				buyer_name : $("#name").val(),
				buyer_tel : $("#phone").val(),
			  buyer_addr: "서울특별시 강남구 신사동",
			  buyer_postcode: "01181"
		  }, function (rsp) { // callback
			  if (rsp.success) {
				 var msg = '결제가 완료되었습니다.';
				  msg += '상점 거래ID: '+ rsp.imp_uid;
			  } else {
				  var msg = '결제에 실패하였습니다.';
				  msg += rsp.error_msg;
			  }
			  alert(msg);
		  });
		}
	$("#payment_btn").on("click", function(e){
		e.preventDefault();
		requestPay();
	})	

	})


</script>
