<head>
	<%= stylesheet_link_tag "movie" %>
	<script src="https://kit.fontawesome.com/92ee59bde0.js" crossorigin="anonymous"></script>
</head>
<h1>전체 영화</h1>

<div class = "container mt-4 mb-3">
	<div class = "row">
		<div class = "col-12">
			<ul class="nav nav-tabs d-flex justify-content-center">
				<li class="nav-item col-2" style = "text-align: center;">
					<a class="nav-link active" aria-current="page" href="#">박스 오피스</a>
				</li>
				<li class="nav-item col-2" style = "text-align: center;">
					<a class="nav-link" href="#">상영 예정작</a>
				</li>
				<li class="nav-item col-2" style = "text-align: center;">
					<a class="nav-link" href="#">특별상영</a>
				</li>
				<li class="nav-item col-2" style = "text-align: center;">
					<a class="nav-link">필름소사이어티</a>
				</li>
				<li class="nav-item col-2" style = "text-align: center;">
					<a class="nav-link">클래식소사이어티</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="search mt-3" style= "position: relative; float: right;">
		<input type="text" placeholder="영화명을 검색" title="영화 검색" class="input-text" id="movieName">
		<button type="button" class="btn" id="btnSearch"><i class="fa-solid fa-magnifying-glass"></i></button>
	</div>
</div>
	
<div class="container">
	<div class="row" style="color: #fff;">
		<% @movies.each do |movie| %>
		<div class="col-3">
			<a href="/movies/<%= movie.id %>">
				<div class="card text-bg-dark">
					<img src="<%= url_for(movie.movie_img) %>" class="card-img" alt="...">
					<div class="card-img-overlay" style="height:220px;">
						<h5 class="card-title"><%= movie.movie_title %></h5>
						<p class="card-text" style="  overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-break:break-all;
  width: 100px; height: 50px;"><%= movie.movie_desc %></p>
						<p class="card-text"><small>Last updated 3 mins ago</small></p>
					</div>
				</div>
			</a>
			<h3 class="card-title" style= "color : black;"><%= movie.movie_title %>
			</h3>
			<p class = "aa" style = "color: black;">
				예매율 37.3% <br>
				개봉일 2022.11.23
			</p>
			<button>
				<a href="/megabox/ticket_order">예매</a>
			</button>	
		</div>
		<% end %>	
	</div>
</div>

