<head>
	<%= stylesheet_link_tag "screens" %>
	<style>
		<% @name.each do |name| %>
			<% @num.each do |num| %>
				#<%= name+num.to_s %> {
					position: absolute; left: -999em; 
				}
			<% end %>
		<% end %>
		<% @name.each do |name| %>
			<% @num.each do |num| %>
				#<%= name+num.to_s %>:checked + .seat_shape {
					background-color: #6feaf6;
				}
			<% end %>
		<% end %>
		
	</style>
</head>


<div class="container">
	<div class="row">
		<div class="col-12">
			<h1>
				빠른 예매
			</h1>
		</div>
		<div class="col-12 border">
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
					  	</a>
					</li>
					<li class="page-item"><a class="page-link text-secondary" href="#">00 오늘</a></li>
					<li class="page-item"><a class="page-link text-secondary" href="#">01 내일</a></li>
					<li class="page-item"><a class="page-link text-secondary" href="#">02 수</a></li>
					<li class="page-item"><a class="page-link text-secondary" href="#">03 목</a></li>
					<li class="page-item"><a class="page-link text-secondary" href="#">04 금</a></li>
					<li class="page-item"><a class="page-link text-secondary" href="#">05 토</a></li>
					<li class="page-item"><a class="page-link text-secondary" href="#">06 일</a></li>
					<li class="page-item"><a class="page-link text-secondary" href="#">07 월</a></li>
					<li class="page-item"><a class="page-link text-secondary" href="#">08 화</a></li>
					<li class="page-item"><a class="page-link text-secondary" href="#">09 수</a></li>
					<li class="page-item"><a class="page-link text-secondary" href="#">10 목</a></li>
					<li class="page-item"><a class="page-link text-secondary" href="#">11 금</a></li>
					<li class="page-item"><a class="page-link text-secondary" href="#">12 토</a></li>
					<li class="page-item"><a class="page-link text-secondary" href="#">13 일</a></li>
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>


<div class="container mt-3">
	<div class="row">
		<!-- 영화선택 -->
		<div class="col-3 border">
			<h2>
				영화
			</h2>
			<ul class="nav nav-tabs">
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="#">전체</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link text-secondary" href="#">큐레이션</a>
			  </li>
			</ul>
			<form action="/ticketings" method="POST" class="form-check">
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<input type="hidden" name="tk_price" value=12000 id="tk_price">
					<% @movies.each do |movie| %>
					<label for="movie_title" class="form-check-label">
						<input type="checkbox" name="movie_title" value="<%= movie.movie_title %>" min="0" id="movie_title" class="form-check-input">
						<%= movie.movie_title %>							
					</label><br>
				<% end %>
		</div>
		
			<!-- 극장선택 -->
		<div class="col-4 border">
			<h2>
				극장
			</h2>
			<ul class="nav nav-tabs">
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="#">전체</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link text-secondary" href="#">특별관</a>
			  </li>
			</ul>
			<div class="container form-check">
				<div class="row">
					<!-- 지역 -->
					<div class="col-6">
							<label for="th_region" class="form-check-label">
								<input type="checkbox" name="th_region" value="부산" min="0" id="th_region" class="form-check-input">
								부산
							</label><br>
							<label for="th_region1" class="form-check-label">
								<input type="checkbox" name="th_region" value="서울" min="0" id="th_region1" class="form-check-input">
								서울
							</label><br>
					</div>
					
					<!-- 극장 -->
					<div class="col-6">
						<% @theaters.each do |theater| %>
						<% if theater.th_region == "부산" %>
							<label for="th_name" class="form-check-label th_list hide" >
								<input type="checkbox" name="<%= theater.th_name %>" value="0" min="0" id="th_name" class="form-check-input">
								<%= theater.th_name %>
							</label><br>
						<% elsif theater.th_region == "서울" %>
							<label for="th_name" class="form-check-label th_list1 hide1" >
								<input type="checkbox" name="<%= theater.th_name %>" value="0" min="0" id="th_name" class="form-check-input">
								<%= theater.th_name %>
							</label><br>
						<% end %>
						
						<% end %>				
					</div>
				</div>
			</div>
			

			
		</div>
			
			<!-- 시간선택 -->
		<div class="col-5 border">
			<div class="time_title">
				<h2>시간</h2>
				<p>조조,브런치,심야</p>
			</div>
			<div class="col-12">
				<nav aria-label="Page navigation example">
				  <ul class="pagination">
					<li class="page-item">
					  <a class="page-link text-secondary" href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					  </a>
					</li>
					<li class="page-item"><a class="page-link text-secondary" href="#">00</a></li>
					<li class="page-item"><a class="page-link text-secondary" href="#">01</a></li>
					<li class="page-item"><a class="page-link text-secondary" href="#">02</a></li>
					<li class="page-item"><a class="page-link text-secondary" href="#">03</a></li>
					<li class="page-item"><a class="page-link text-secondary" href="#">04</a></li>
					<li class="page-item"><a class="page-link text-secondary" href="#">05</a></li>
					<li class="page-item"><a class="page-link text-secondary" href="#">06</a></li>
					<li class="page-item"><a class="page-link text-secondary" href="#">07</a></li>
					<li class="page-item"><a class="page-link text-secondary" href="#">08</a></li>
					<li class="page-item"><a class="page-link text-secondary" href="#">09</a></li>
					<li class="page-item">
					  <a class="page-link text-secondary" href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					  </a>
					</li>
				  </ul>
				</nav>
			</div>
			<!-- 영화 선택 -->
			<div class="col-12">
				<ul class="list-group">
					<% @screen.each do |screen| %>
						<li class="list-group-item">
							<input type="checkbox" value="<%= screen.id %>" name="screen_id">
							<%= screen.movie.movie_title %> <%= screen.sc_start %> ~ <%= screen.sc_end %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>	
	</div>
</div>

<!-- 관람 인원, 좌석 선택 -->
<div class="container">
	<div class="row ">
		<div class="col-12 border-bottom mt-3"><h3>관람 인원 선택</h3></div>
			<div class="col-12 form-check mt-3">
				<label for="adult" class="form-check-label">성인</label>
				<input type="number" name="adult" value="0" min="0" id="adult">
				<label for="teenager" class="form-check-label">청소년</label>
				<input type="number" name="teenager" value="0" min="0" id="teenager">
				<label for="quantity" class="form-check-label">우대</label>
				<input type="number" name="quantity" value="0" min="0" id="quantity">
				<button type="submit" class="btn btn-outline-dark col-1">
					다음
				</button>
			</div>
			<div class="col-12 form-check">
				<div class="movie-container" style="display:none;" >
						<label>Pick a movie:</label>
						<select id="movie">
							<option value="10">Avengers: Endgame ($10)</option>
							<option value="12">Joker ($12)</option>
							<option value="8">Toy Story 4 ($8)</option>
							<option value="9">The Lion King ($9)</option>
						</select>
				</div>
				<ul class="showcase">
						<li>
							<div class="seat"></div>
							<small>N/A</small>
						</li>
						<li>
							<div class="seat selected"></div>
							<small>Selected</small>
						</li>
						<li>
							<div class="seat occupied"></div>
							<small>Occupied</small>
						</li>
				</ul>
				<div class="cont">
					<div class="screen"></div>
						<!-- a석 -->
						<div class="row">
							<% @seat.each do |seat| %>
								<% @num.each do |num| %>
							  		<% if seat.seat_name == 'a'+num.to_s  %>
										<div class="seat">
											<input type="checkbox" name="seat_name" id="<%= 'a'+num.to_s %>" value="<%= seat.seat_name %>">
											<label for="<%= 'a'+num.to_s %>" class="seat_shape"></label>
										</div>
									<% end %>
							  	<% end %>
							<% end %>
						</div>
					<!-- b 석 -->
						<div class="row">
							<% @seat.each do |seat| %>
							  	<% @num.each do |num| %>
							  		<% if seat.seat_name == 'b'+num.to_s  %>
										<div class="seat">
											<input type="checkbox" name="seat_name" id="<%= 'b'+num.to_s %>" value="<%= seat.seat_name %>">
											<label for="<%= 'b'+num.to_s %>" class="seat_shape"></label>
										</div>
									<% end %>
							  	<% end %>
							<% end %>
						</div>
					<!-- c석 -->
						<div class="row">
							<% @seat.each do |seat| %>
								<% @num.each do |num| %>
							  		<% if seat.seat_name == 'c'+num.to_s  %>
										<div class="seat">
											<input type="checkbox" name="seat_name" id="<%= 'c'+num.to_s %>" value="<%= seat.seat_name %>">
											<label for="<%= 'c'+num.to_s %>" class="seat_shape"></label>
										</div>
									<% end %>
							  	<% end %>
							<% end %>
						</div>
					<!-- d석 -->
						<div class="row">
							<% @seat.each do |seat| %>
								<% @num.each do |num| %>
							  		<% if seat.seat_name == 'd'+num.to_s  %>
										<div class="seat">
											<input type="checkbox" name="seat_name" id="<%= 'd'+num.to_s %>" value="<%= seat.seat_name %>">
											<label for="<%= 'd'+num.to_s %>" class="seat_shape"></label>
										</div>
									<% end %>
							  	<% end %>
							<% end %>
						</div>
					<!-- e석 -->
						<div class="row">
							<% @seat.each do |seat| %>
								<% @num.each do |num| %>
							  		<% if seat.seat_name == 'e'+num.to_s  %>
										<div class="seat">
											<input type="checkbox" name="seat_name" id="<%= 'e'+num.to_s %>" value="<%= seat.seat_name %>">
											<label for="<%= 'e'+num.to_s %>" class="seat_shape"></label>
										</div>
									<% end %>
							  	<% end %>
							<% end %>
						</div>
				</div>
				<p class="text" style="display:none;">
						  You have selected <span id="count">0</span> seats for a price of $<span
							id="total"
							>0</span>
				</p>
			</div>
		</div>
</div>
</form>


<!-- js -->
<script>
	const cont = document.querySelector('.cont');
	const seats = document.querySelectorAll('.row .seat:not(.occupied)');
	const count = document.getElementById('count');
	const total = document.getElementById('total');
	const movieSelect = document.getElementById('movie');

	populateUI();

	let ticketPrice = +movieSelect.value;

	// Save selected movie index and price
	function setMovieData(movieIndex, moviePrice) {
	  localStorage.setItem('selectedMovieIndex', movieIndex);
	  localStorage.setItem('selectedMoviePrice', moviePrice);
	}

	// Update total and count
	function updateSelectedCount() {
	  const selectedSeats = document.querySelectorAll('.row .seat.selected');

	  const seatsIndex = [...selectedSeats].map(seat => [...seats].indexOf(seat));

	  localStorage.setItem('selectedSeats', JSON.stringify(seatsIndex));

	  const selectedSeatsCount = selectedSeats.length;

	  count.innerText = selectedSeatsCount;
	  total.innerText = selectedSeatsCount * ticketPrice;

	  setMovieData(movieSelect.selectedIndex, movieSelect.value);
	}

	// Get data from localstorage and populate UI
	function populateUI() {
	  const selectedSeats = JSON.parse(localStorage.getItem('selectedSeats'));

	  if (selectedSeats !== null && selectedSeats.length > 0) {
		seats.forEach((seat, index) => {
		  if (selectedSeats.indexOf(index) > -1) {
			seat.classList.add('selected');
		  }
		});
	  }

	  const selectedMovieIndex = localStorage.getItem('selectedMovieIndex');

	  if (selectedMovieIndex !== null) {
		movieSelect.selectedIndex = selectedMovieIndex;
	  }
	}

	// Movie select event
	movieSelect.addEventListener('change', e => {
	  ticketPrice = +e.target.value;
	  setMovieData(e.target.selectedIndex, e.target.value);
	  updateSelectedCount();
	});

	// Seat click event
	cont.addEventListener('click', e => {
	  if (
		e.target.classList.contains('seat') &&
		!e.target.classList.contains('occupied')
	  ) {
		e.target.classList.toggle('selected');

		updateSelectedCount();
	  }
	});

	// Initial count and total set
	updateSelectedCount();
	
	// 메뉴 토글
    $(document).ready(function(){
        // memu 클래스 바로 하위에 있는 a 태그를 클릭했을때
        $("#th_region").click(function(){
            $(".th_list").toggleClass("hide");
        });
		$("#th_region1").click(function(){
            $(".th_list1").toggleClass("hide1");
        });
    });
</script>